*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* !General Styles */

html {
  font-size: 62.5%;
  max-width: 1440px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black-color);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

:root {
  --lightgray-color: #9e9e9e;
  --white-color: #fff;
  --black-color: #000;
  --darkgray-color: #666;
}

@font-face {
  font-family: Work-Sans;
  src: url(../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: Didact-Gothic;
  src: url(../assets/fonts/Didact_Gothic/DidactGothic-Regular.ttf);
}

@font-face {
  font-family: Fjalla-One;
  src: url(../assets/fonts/Fjalla_One/FjallaOne-Regular.ttf);
}

/* !Header styles */

header {
  height: 1928px;
  margin-bottom: 33px;
}

.header-section {
  margin: 20px auto;
  padding: auto;
  text-align: center;
  height: 1789px;
  width: 720px;
  color: var(--black-color);
}

.header-section-text {
  font-family: Work-Sans, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.header-section-title {
  margin: 60px auto;
  width: 700px;
  height: 260px;
  font-family: Didact-Gothic, Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: 400;
  line-height: 130px;
  letter-spacing: -2px;
}

.header-section-image {
  width: 720px;
}

.header-section-description {
  font-family: Work-Sans, Arial, Helvetica, sans-serif;
  font-size: 160px;
  font-weight: 400;
  line-height: normal;
  width: 484px;
  height: 188px;
  margin: 118px auto;
  text-align: center;
}

/*!project sections styles */

/* - general of projects sections */

.project .year {
  font-family: Work-Sans, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  padding-left: 15vw;
  height: 23px;
}

.project .section-title {
  font-family: Didact-Gothic, Arial, Helvetica, sans-serif;
  font-size: 112px;
  font-weight: 400;
  text-align: left;
  padding-left: 15vw;
  height: 147px;
  margin-top: 20px;
}
.project .section-branch {
  font-family: Work-Sans, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  padding-left: 15vw;
  height: 23px;
  margin-top: 40px;
}

.project div .section-button {
  font-family: Fjalla-One, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 96px;
  height: 52px;
  text-align: center;
  margin-left: 15vw;
  margin-top: 80px;
}

.project div .section-number {
  font-family: Fjalla-One, Arial, Helvetica, sans-serif;
  font-size: 165px;
  font-weight: 400;
  letter-spacing: -3.3px;
  text-align: right;
  padding-right: 8vw;
  height: 207px;
}

/* ? ----------dark sections  */

.section-orbis,
.section-galitos {
  height: 826px;
}

.section-orbis .year,
.section-orbis .section-branch,
.section-galitos .year,
.section-galitos .section-branch {
  color: var(--lightgray-color);
}

.section-orbis .section-title,
.section-orbis .section-button,
.section-galitos .section-title,
.section-galitos .section-button {
  color: var(--white-color);
  background-color: transparent;
}

.section-orbis .section-number,
.section-galitos .section-number {
  color: var(--lightgray-color);
  opacity: 0.2;
}

.section-orbis .section-button,
.section-galitos .section-button {
  border: 1px solid var(--white-color);
}

/* dark sections elements position */

.section-orbis .year,
.section-galitos .year {
  padding-top: 150px;
}

/* #dark sections hover effect */

.section-orbis div button:hover,
.section-galitos div button:hover {
  background-color: white;
  color: black;
}

.section-orbis div button:hover + h2 {
  color: white;
  opacity: 1;
}

.section-galitos div button:hover + h2 {
  color: white;
  stroke: 1px solid black;
  opacity: 1;
}

/* ? ---------light sections */

.section-rollr,
.section-tretto {
  height: 1056px;
}

.section-rollr .year,
.section-rollr .section-branch,
.section-tretto .year,
.section-tretto .section-branch {
  color: var(--darkgray-color);
}

.section-rollr .section-title,
.section-rollr .section-button,
.section-tretto .section-title,
.section-tretto .section-button {
  color: var(--black-color);
  background-color: transparent;
}

.section-rollr .section-number,
.section-tretto .section-number {
  color: var(--darkgray-color);
  opacity: 0.2;
}

.section-rollr .section-button,
.section-tretto .section-button {
  border: 1px solid var(--black-color);
}

/* light sections position*/

.section-rollr .year,
.section-tretto .year {
  padding-top: 250px;
}

/* # hover light sections */

.section-rollr div button:hover,
.section-tretto div button:hover {
  background-color: black;
  color: white;
}

.section-rollr div button:hover + h2 {
  color: black;
  opacity: 1;
}

.section-tretto div button:hover + h2 {
  color: black;
  stroke: 1px solid black;
  opacity: 1;
}

/* - individual project sections */

.section-orbis {
  background: url(../assets/img/portfolio2.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 826px;
  overflow: hidden;
}

.section-rollr {
  background: url(../assets/img/portfolio3.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 1056px;
  overflow: hidden;
  background-color: var(--white-color);
}

.section-galitos {
  background: url(../assets/img/portfolio4.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 826px;
  overflow: hidden;
}

.section-tretto {
  background: url(../assets/img/portfolio5.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 1056px;
  overflow: hidden;
  background-color: var(--white-color);
}

/* !what more section */

.section-what-more {
  height: 931px;
  font-family: Work-Sans, Arial, Helvetica, sans-serif;
  background-color: var(--black-color);
}

.what-more-title {
  padding-top: 130px;
  color: var(--white-color);
  text-align: center;
  font-size: 150px;
  letter-spacing: -18px;
  font-weight: 400;
}

.what-more-text {
  margin: 150px auto 70px 44vw;
  height: 200px;
  width: 700px;
  color: var(--darkgray-color);
  font-size: 22px;
  line-height: 39.6px;
  letter-spacing: 0.22px;
  font-weight: 400;
}

.what-more-email {
  margin: 0 auto 100px 44vw;
  height: 70px;
  width: 424px;
  color: var(--white-color);
  font-size: 60px;
  letter-spacing: -3.6px;
  text-decoration: none;
  font-weight: 400;
}

/* !footer  styles */

.section-sozial-media {
  height: auto;
  text-align: center;
  font-family: Didact-Gothic, Arial, Helvetica, sans-serif;
  font-size: 160px;
  font-weight: lighter;
  line-height: normal;
  margin: auto;
}

.section-sozial-media ul {
  width: 702px;
  height: 1160px;
  margin: 230px auto 130px auto;
  text-align: center;
}

.section-sozial-media ul li {
  height: 210px;
}

.section-sozial-media ul li:nth-of-type(2) {
  margin: 150px auto;
}

/* hearth animation */

.heart-animation {
  background-color: transparent;
  margin: auto;
  animation: heart-animation 2s infinite;
}

@keyframes heart-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
