*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General Styles */

html {
  font-size: 62.5%;
  width: 1440px;
}

:root {
  --lightgray-color: #9e9e9e;
  --white-color: #fff;
  --black-color: #000;
  --darkgray-color: #666;
}

@font-face {
  font-family: Work-Sans;
  src: url(../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: Didact-Gothic;
  src: url(../assets/fonts/Didact_Gothic/DidactGothic-Regular.ttf);
}
/*
@font-face {
  font-family: ;
  src: url();
} */

/* Header styles */

header {
  height: 1928px;
  margin-bottom: 33px;
}

.header-section {
  margin: 20px auto;
  padding: auto;
  text-align: center;
  height: 1789px;
  width: 720px;

  color: var(--black-color);
}

.header-section-text {
  font-family: Work-Sans, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.header-section-title {
  margin: 60px auto;
  width: 700px;
  height: 260px;
  font-family: Didact-Gothic, Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: 400;
  line-height: 130px;
  letter-spacing: -2px;
}

.header-section-image {
  width: 720px;
}

.header-section-description {
  font-family: Work-Sans, Arial, Helvetica, sans-serif;
  font-size: 160px;
  font-weight: 400;
  line-height: normal;
  width: 484px;
  height: 188px;
  margin: 118px auto;
  text-align: center;
}

/* project sections styles */

.section-orbis {
  background: url(../assets/img/portfolio2.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 826px;
}

.section-rollr {
  background: url(../assets/img/portfolio3.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 1056px;
}

.section-galitos {
  background: url(../assets/img/portfolio4.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 826px;
}

.section-tretto {
  background: url(../assets/img/portfolio5.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 1056px;
}

/* footer  styles */
